<div id="entry-list">

<div class="row" style="margin-bottom:10px;">
		<input type="text" class="search form-control" placeholder="Search" />
</div>

<div class="row">
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width:30%;"><span class="sort" data-sort="name">Company Name</span></th>
			<th style="width:20%;"><span class="sort" data-sort="city">City</span></th>
			<th style="width:20%;"><span class="sort" data-sort="category">Category</span></th>
			<th style="width:30%;"><span class="sort" data-sort="tags">Tags</span></th>
		</tr>
	</thead>
	<tbody class="list">
	{% for post in site.posts %}
		<tr>
			<td class="name">{{ post.company-name }}</td>
			<td class="city">{{ post.city }}</td>
			<td class="category">{{ post.categories }}</td>
			<td class="tags">{{ post.tags | array_to_sentence_string }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

</div>


<script type="text/javascript">

var options = {
  valueNames: ['name', 'city', 'category', 'tags']
};

var entryList = new List('entry-list', options);

</script>